<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/gallery.css" />
  </head>

  <body>
    <%- include('partials/Loader.ejs') %> <%- include('partials/Navbar.ejs') %>
    <main>
      <section class="gallery-section main">
        <div id="btn-above">
          <div id="photos-btn">Photos</div>
          <div id="videos-btn">Videos</div>
        </div>

        <%- include('partials/PhotoGallery.ejs') %>
        <%- include('partials/videoGallery.ejs') %>
        
      </section>
    </main>
    <%- include('partials/Footer.ejs') %>
    <script src="/scripts/switchmode.js"></script>
    <script src="/scripts/galleryphoto.js"></script>
    <script src="/scripts/galleryvideo.js"></script>
  </body>
</html>
